In [27]:
import sys
sys.path.append('/pl/active/banich/studies/Relevantstudies/abcd/bagpype/lib/python3.7/site-packages')
sys.path.append('/pl/active/banich/studies/Relevantstudies/abcd/data/clustering/analysis/')
from functions import *
from import_subtypes import *

In [39]:
sample = pd.merge(full_sample_rest_combined_idsub, full_sample_rest_dont_include_idsub.query('Subtype == 1'), on='ID')
sample

                  ID  Subtype_x  Subtype_y
0    NDARINVA4ZHJBK2          1          1
1    NDARINVFRRR1UGL          1          1
2    NDARINVF5GC1Z80          1          1
3    NDARINVUB096N6Y          2          1
4    NDARINV6WV9X2KM          4          1
..               ...        ...        ...
301  NDARINVJ1N9F47J          1          1
302  NDARINV5XRG1L4T          1          1
303  NDARINV7A80G68A          1          1
304  NDARINVFN8AVY82          2          1
305  NDARINVK051J689          1          1

[306 rows x 3 columns]

In [40]:
from sklearn.metrics import adjusted_rand_score


# Calculate the Adjusted Rand Index
ari = adjusted_rand_score(sample.Subtype_x, sample.Subtype_y)

print("Adjusted Rand Index:", ari)

Adjusted Rand Index: 0.0