In [1]:
import sys
sys.path.append('/pl/active/banich/studies/Relevantstudies/abcd/bagpype/lib/python3.7/site-packages')
sys.path.append('/pl/active/banich/studies/Relevantstudies/abcd/data/clustering/analysis/')
from functions import *
from import_subtypes import *

Resting State Include: sample1_rest_include, sample2_rest_include, full_sample_rest_include /n sample1_rest_include_idsub, sample2_rest_include_idsub, sample2_rest_idsub, full_sample_rest_include_idsub
Resting State Combined: sample1_rest_combined, sample2_rest_combined, full_sample_rest_combined /n sample1_rest_combined_idsub, sample2_rest_combined_idsub, full_sample_rest_combined_idsub
Resting State Dont Include: full_sample_rest_dont_include /n full_sample_rest_dont_include_idsub

In [2]:
import pandas as pd

# Example DataFrame
# df = pd.DataFrame({'category_column': [... your data ...]})

def perc(df, category_column, sample):
    # Calculate counts and percentages
    counts = df[category_column].value_counts()
    percentages = round(df[category_column].value_counts(normalize=True) * 100, 2)

    # Combine counts and percentages into a single DataFrame for a nicer display
    summary = (pd.DataFrame({'Count': counts, 'Percentage': percentages})
               .assign(Sample = sample))
    

    summary['Subtype'] = summary.index
    
    # Creating the new column
    summary['Perc'] = "N=" + summary['Count'].astype(str) + " (" + summary['Percentage'].astype(str) + "%)"

    summary = summary.sort_values('Subtype')

    return summary[['Subtype', 'Sample', 'Perc']]

In [3]:
fs_include = perc(full_sample_rest_include, 'Subtype', 'Full Sample')
s1_include = perc(sample1_rest_include, 'Subtype', 'Sample 1')
s2_include = perc(sample2_rest_include, 'Subtype',  'Sample 2')

pd.concat([fs_include, s1_include, s2_include]).T

,1,2,3,4,1,2,3,4,1,2,3,4
Subtype,1,2,3,4,1,2,3,4,1,2,3,4
Sample,Full Sample,Full Sample,Full Sample,Full Sample,Sample 1,Sample 1,Sample 1,Sample 1,Sample 2,Sample 2,Sample 2,Sample 2
Perc,N=2062 (28.27%),N=1776 (24.35%),N=1645 (22.56%),N=1810 (24.82%),N=984 (26.81%),N=928 (25.29%),N=805 (21.93%),N=953 (25.97%),N=1027 (28.35%),N=813 (22.44%),N=874 (24.12%),N=909 (25.09%)

In [4]:
print(sample1_rest_include.shape[0])
print(sample2_rest_include.shape[0])
print(full_sample_rest_include.shape[0])

3670
3623
7293

In [5]:
fs_combined = perc(full_sample_rest_combined, 'Subtype', 'Full Sample')
s1_combined = perc(sample1_rest_combined, 'Subtype', 'Sample 1')
s2_combined = perc(sample2_rest_combined, 'Subtype',  'Sample 2')

pd.concat([fs_combined, s1_combined, s2_combined]).T

,1,2,3,4,1,2,3,4,1,2,3,4
Subtype,1,2,3,4,1,2,3,4,1,2,3,4
Sample,Full Sample,Full Sample,Full Sample,Full Sample,Sample 1,Sample 1,Sample 1,Sample 1,Sample 2,Sample 2,Sample 2,Sample 2
Perc,N=2531 (28.04%),N=2503 (27.73%),N=1912 (21.18%),N=2081 (23.05%),N=1229 (27.23%),N=1231 (27.28%),N=939 (20.81%),N=1114 (24.68%),N=1243 (27.54%),N=1243 (27.54%),N=1015 (22.49%),N=1013 (22.44%)

In [6]:
print(full_sample_rest_combined.shape[0])
print(sample1_rest_combined.shape[0])
print(sample2_rest_combined.shape[0])

9027
4513
4514

In [7]:
fs_dont_include = perc(full_sample_rest_dont_include, 'Subtype', 'Full Sample')
fs_dont_include.T

                      1               2               3               4
Subtype               1               2               3               4
Sample      Full Sample     Full Sample     Full Sample     Full Sample
Perc     N=306 (23.67%)  N=312 (24.13%)  N=232 (17.94%)  N=443 (34.26%)

In [8]:
print(full_sample_rest_dont_include.shape[0])

1293